# keep folders in repo but ignore their contents
build/*
!build/.gitkeep

benchmarks/*
!benchmarks/.gitkeep

data/*
!data/.gitkeep
extras/mallet
extras/lda_preprocess/build

!extras/.gitkeep

external/*
!external/.gitkeep

libs/*
!libs/.gitkeep

logs/*
!logs/.gitkeep

patches/*
!patches/.gitkeep

reports/*
!reports/.gitkeep


# the rest of your rules
timining.txt
draft.ipynb
out
Datasets/
FlameGraph
topicProbs.txt
file.cpp
out
extras/mallet
.DS_Store
.vscode

scripts/log.txt
extras/lda_svi_formatting/src/a.out